[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybabel = "*"
babel = "*"
pyfiglet = "*"

[dev-packages]
doit = "*"
flake8 = "*"
build = "*"
toml = "*"
wheel = "*"

[requires]
python_version = "3.8"
